<table mat-table [dataSource]="data" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let votacion">{{votacion.id}}</td>
  </ng-container>
  <ng-container matColumnDef="nombres">
    <th mat-header-cell *matHeaderCellDef>Nombres</th>
    <td mat-cell *matCellDef="let votacion">{{votacion.nombres}}</td>
  </ng-container>
  <ng-container matColumnDef="apellidos">
    <th mat-header-cell *matHeaderCellDef>Apellidos</th>
    <td mat-cell *matCellDef="let votacion">{{votacion.apellidos}}</td>
  </ng-container>
  <ng-container matColumnDef="edad">
    <th mat-header-cell *matHeaderCellDef>Edad</th>
    <td mat-cell *matCellDef="let votacion">{{votacion.edad}}</td>
  </ng-container>
  <ng-container matColumnDef="voto">
    <th mat-header-cell *matHeaderCellDef>Voto</th>
    <td mat-cell *matCellDef="let votacion">{{votacion.voto}}</td>
  </ng-container>
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let row">
      <span>
        <button mat-icon-button (click)="eliminarVoto(row.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </span>

      <span>
        <button mat-icon-button (click)="actualizarVoto(row)">
          <mat-icon>autorenew</mat-icon>
        </button>
      </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
