<form action="" style="margin-left:30px ;">
  <mat-form-field>
    <mat-label>Nombres</mat-label>
    <input type="text" matInput [(ngModel)] = "votacion.nombres" name="votacion.nombres">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Apellidos</mat-label>
    <input type="text" matInput [(ngModel)] = "votacion.apellidos" name="votacion.apellidos">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Edad</mat-label>
    <input type="number" matInput [(ngModel)] = "votacion.edad" name="votacion.edad">
  </mat-form-field>
  <br>
  <mat-radio-group [(ngModel)] = "votacion.voto" name="votacion.voto">
    <mat-radio-button [value] = "'Java'">
      Java
    </mat-radio-button>
    <br>
    <mat-radio-button [value] = "'PHP'">
      PHP
    </mat-radio-button>
    <br>
    <mat-radio-button [value] = "'C#'">
      C#
    </mat-radio-button>
    <br>
    <mat-radio-button [value] = "'Javascript'">
      Javascript
    </mat-radio-button>
    <br>
    <mat-radio-button [value] = "'Python'">
      Python
    </mat-radio-button>
  </mat-radio-group>
  <br>
  <button *ngIf="!votacion.id" mat-button color="primary" (click)="guardarVotacion()">Guardar Votación</button>
  <button *ngIf="votacion.id" mat-button color="primary" (click)="actualizarVotacion()">Actualizar Votación</button>
</form>
